<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>JEA App</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>

    <button mat-button [routerLink]="['register']">Register</button>


  </mat-toolbar-row>


</mat-toolbar>