.example-card {
    width: 400px;
    margin: 10% auto;
}
.mat-card-title{
    font-size: 16px;
}

.google-btn{
}

.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 10px;
    margin-left: -28px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    margin: 2px 0px 0px 16px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
