<div class="example-container">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Titel" [(ngModel)]="this.bericht.title">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Typ hier je bericht" [(ngModel)]="this.bericht.text"></textarea>
  </mat-form-field>
  <button mat-raised-button color='primary' (click)="onsubmit()">Aanmaken</button>
</div>