<div class="container">
  <h1>Berichten</h1>
  <button mat-raised-button color='primary' (click)="openCreateBericht()">Bericht aanmaken</button>
  <div class="content" style="width: 80%">

    <mat-accordion *ngIf="this.berichten.length > 0">
      <div *ngFor="let bericht of this.berichten">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{ bericht.title }} </b>
            </mat-panel-title>
            <mat-panel-description>
              <div>
                <b style="color:black"></b>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          
          <mat-action-row>
            <p>
              {{ bericht.text }}
            </p>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
